@mixin hoverLink() {
  position: relative;
  display: inline-block;
  text-decoration: none;
  &::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: $black-color-01;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .5s;
  }
  &:hover::after {
    transform: scale(1, 1);
  }
}

@mixin animationBlock() {
  position: relative;
  overflow: hidden;
  &:before,
  &:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }
  &:before {
    opacity: 1;
    z-index: 2;
    background: $white-color-01;
    transition: 1s cubic-bezier(0.75, 0, 0.175, 1) .5s;
    transform: scale3d(1, 1, 1);
    transform-origin: center top;
  }
  &:after {
    opacity: 0;
    z-index: 1;
    background: $sub-color;
    transition: 1s cubic-bezier(0.75, 0, 0.175, 1) .55s;
    transform: scale3d(1, 1, 1);
    transform-origin: left top;
    animation: fadeIn 1.8s ease 1s 1 both;
  }
  &.active {
    &:before {
      opacity: 1;
      transform: scale3d(1, 0, 1);
      transform-origin: left top;
    }
    &:after {
      transform: scale3d(1, 0, 1);
      transform-origin: left top;
    }
  }
}
