.m-contents-inner-01 {
  width: 1080px;
  margin: 0 auto;
  position: relative;
}
.m-header-01 {
  position: fixed;
  background-color: $white-color-01;
  width: 100%;
  height: 70px;
  z-index: z(header);
  &-logo {
    position: absolute;
    left: 1.5rem;
    top: 5px;
  }
}
.m-nav-01 {
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding-left: 60px;
  }
  &-item {
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-link {
    color: $black-color-01;
    font-size: .9rem;
    @include hoverLink();
  }
}
.m-nav-02 {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  margin-top: -12px;
  z-index: 1;
  &-icon {
    position: relative;
    height: 30px;
    width: 30px;
  }
  &-border {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 30px;
    background-color: $black-color-01;
    border-radius: 2px;
    &:nth-of-type(2) {
      top: 10px;
    }
    &:nth-of-type(3) {
      top: 20px;
    }
  }
}
.m-nav-03 {
  &-list {
    padding-top: 6rem;
    text-align: center;
  }
  &-item {
    margin-bottom: 2rem;
  }
  &-link {
    text-decoration: none;
    color: $black-color-01;
    font-size: 1.4rem;
  }
}
.m-drawer-01 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white-color-01;
  z-index: z(drawer);
  &-cancel {
    position: absolute;
    top: 20px;
    right: 1.5rem;
    z-index: 1;
  }
  &-icon {
    display: inline-block;
    width: 34px;
    height: 34px;
    position: relative;
  }
  &-text {
    &::before,
    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 5%;
      margin: -8% 0 0 -42%;
      background: $black-color-01;
    }
    &::before {
      transform: rotate(-45deg)
    }
    &::after {
      transform: rotate(45deg)
    }
  }
}
.m-visual-01 {
  width: 100%;
  border-bottom: 4px solid $key-color;
  &-list {
    max-height: 600px;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  &-img {
    width: 100%;
  }
}
.m-block-01 {
  padding: 85px 0;
  &-inner {
    position: relative;
    height: 500px;
  }
  &-text {
    position: absolute;
    top: 85px;
    right: 200px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-family: 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
    font-size: 1.2rem;
    span {
      display: block;
      margin-left: 2rem;
    }
  }
  &-img {
    position: absolute;
    z-index: 1;
    bottom: 50px;
    left: 110px;
  }
}
.m-block-02 {
  &-logo-01 {
    margin: 0 auto 2.5rem;
    display: block;
  }
  &-logo-02 {
    display: block;
    position: relative;
    left: 50%;
    margin: 0 0 2.5rem -176px;
  }
  &-text-01 {
    text-align: center;
    margin-bottom: 3rem;
    &-title {
      position: relative;
      display: inline-block;
      padding: 0 30px;
      font-size: 1.2rem;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        display: inline-block;
        width: 20px;
        height: 1px;
        background-color: black;
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
    }
  }
  &-text-02 {
    text-align: center;
    padding: 3rem 0 6rem;
  }
  &-text-03 {
    text-align: center;
    padding: 3rem 0 6rem;
  }
}
.m-block-03 {
  background-color: $bg-color-01;
  padding-top: .5rem;
  margin-bottom: 10rem;
  &-inner {
    border-top: 4px solid $key-color;
    padding-bottom: .5rem;
  }
}
.m-block-04 {
  &-title {
    text-align: center;
  }
  &-box {
    display: flex;
    padding: 2rem 140px 12rem;
    justify-content: space-between;
  }
  &-inner-01 {
    font-size: .9rem;
  }
  &-table {
    td {
      padding: 0 10px 0 0;
    }
  }
  &-inner-02 {
    border: 1px solid $black-color-01;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 70px;
  }
  &-icon {
    display: block;
    margin-right: 20px;
  }
  &-text-02 {
    text-align: center;
    line-height: 1.2;
  }
  &-text-03 {
    display: block;
  }
  &-text-04 {
    display: block;
    font-size: 1.4rem;
  }
}
.m-block-05 {
  margin-bottom: 12rem;
  &-title {
    text-align: center;
    margin-bottom: 3rem;
  }
  &-inner {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
  }
}
.m-block-06 {
  &-title-01 {
    text-align: center;
    margin-bottom: 3rem;
  }
  &-title-02 {
    text-align: center;
  }
  .m-contents-inner-01 {
    padding: 0 120px;
    box-sizing: border-box;
  }
  &-inner-01 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 6rem;
    box-sizing: border-box;
    .m-box-04 {
      margin-left: 0 !important;
    }
  }
  &-text-01 {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-family: 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
    font-size: 1.2rem;
    margin-right: 90px;
    span {
      display: block;
      margin-left: 1.5rem;
    }
  }
  &-text-02 {
    font-size: 1.8rem;
  }
  &-text-03 {
    text-align: right;
    margin-left: 0 !important;
  }
  .m-box-04 {
    display: inline-block;
    margin-bottom: 2rem;
  }
  &-inner-03 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
  }
}
.m-list-01 {
  display: flex;
  flex-wrap: wrap;
  &-item {
    width: 33.3%;
  }
  &-thum {
    width: 100%;
  }
}
.m-list-02 {
  display: flex;
  padding: 0 160px;
  justify-content: space-between;
  &-text {
    font-size: 0.8rem;
    line-height: 1.4;
    text-align: center;
    padding: 1rem 0;
  }
}
.m-list-03 {
  display: flex;
  &-item {
    width: 25%;
  }
  &-thum {
    width: 100%;
  }
}
.m-bg-01 {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 900px;
  &-img-01 {
    background-image: url("../img/bg/01.jpg");
  }
  &-img-02 {
    background-image: url("../img/bg/03.jpg");
  }
  &-img-03 {
    background-image: url("../img/bg/05.jpg");
  }
}
.m-button-01 {
  background-image: url("../img/bg/02.jpg");
  background-position: left top;
  background-repeat: repeat-x;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &-link {
    margin-right: 70px;
    display: block;
    &:last-child {
      margin-right: 0;
    }
  }
}
.m-button-02 {
  background-image: url("../img/bg/02.jpg");
  background-position: left top;
  background-repeat: repeat-x;
  width: 100%;
  padding: .5rem 0 1rem;
  box-sizing: border-box;
  &-inner {
    border-top: 4px solid $key-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 1rem;
  }
}
.m-box-01 {
  background-color: $bg-color-01;
  padding-top: .5rem;
  margin-bottom: 6rem;
  &-inner {
    border-top: 4px solid $key-color;
    padding-top: .5rem;
  }
}
.m-box-02 {
  background-image: url("../img/bg/04.jpg");
  background-position: center top;
  background-repeat: repeat-x;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
  &-text-01 {
    color: $white-color-01;
    font-size: 1.2rem;
    padding-left: 20px;
    line-height: 1;
  }
  &-text-02 {
    color: $white-color-01;
    display: inline-block;
    font-size: 1.8rem;
    padding-left: 10px;
  }
}
.m-box-03 {
  border: 1px solid $black-color-01;
  width: 460px;
  padding: 1rem 60px 2rem;
  box-sizing: border-box;
  &-text {
    padding-top: 1rem;
  }
}
.m-box-04 {
  border: 1px solid $black-color-01;
  padding: 1rem 20px 1rem;
  box-sizing: border-box;
  height: 100%;
}
.m-title-01 {
  text-align: center;
  margin-bottom: 10rem;
}
.m-title-02 {
  text-align: center;
  margin-bottom: 3rem;
}
.m-title-03 {
  width: 260px;
  margin: 0 auto;
  text-align: center;
  &-text-01 {
    font-size: .8rem;
    padding-bottom: .3rem;
  }
  &-text-02 {
    padding-top: .3rem;
    border-top: 1px solid $black-color-01;
    font-size: 1.6rem;
    font-weight: normal;
  }
}
.m-contact-01 {
  margin-bottom: 8rem;
  &-input {
    border: 1px solid $black-color-01;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1rem;
    margin: .3rem 0 1rem;
  }
  &-textarea {
    border: 1px solid $black-color-01;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1rem;
    margin: .3rem 0 2rem;
    resize: none;
  }
  &-button {
    border: 1px solid $black-color-01;
    display: block;
    padding: 15px 40px;
    font-size: 1rem;
    margin: 0 auto;
    &:hover {
      cursor: pointer;
    }
  }
}
.m-footer-01 {
  background-image: url("../img/bg/02.jpg");
  background-repeat: repeat-x;
  background-position: left top;
  width: 100%;
  &-inner {
    display: flex;
    justify-content: space-between;
    padding: 1rem 110px;
    font-size: .9rem;
  }
  &-text-02 {
    font-size: .8rem;
    margin-top: 1rem;
  }
  &-logo {
    display: block;
    height: 100%;
  }
}
#googleMap {
  width: 100%;
  height: 450px;
}
