@media screen and (max-width: 1080px) {
  .is-pc {
    display: none;
  }
  .is-sp {
    display: block;
  }
  .m-contents-inner-01 {
    width: 100%;
    padding: 0 1.5rem !important;
    box-sizing: border-box;
  }
  .m-header-01 {
    height: 50px;
    &-logo {
      top: 0;
      width: 130px;
    }
  }
  .m-block-01 {
    padding: 3rem 0 0;
    &-text {
      top: 0;
      right: 2rem;
    }
    &-img {
      left: 2rem;
      bottom: 3rem;
    }
  }
  .m-block-02 {
    &-img {
      max-width: 100%;
    }
    &-text-02 {
      padding: 3rem 0;
      text-align: left;
    }
    &-text-03 {
      padding: 3rem 0;
      text-align: left;
    }
  }
  .m-block-04 {
    &-box {
      display: block;
      padding: 3rem 0 6rem;
    }
    &-inner-01 {
      margin-bottom: 1rem;
    }
    &-inner-02 {
      padding: 1rem 0;
    }
  }
  .m-block-05 {
    margin-bottom: 6rem;
    &-inner {
      display: block;
      padding: 0;
    }
  }
  .m-block-06 {
    &-inner-01 {
      display: block;
      text-align: center;
    }
    &-text-01 {
      -webkit-writing-mode: initial;;
      -ms-writing-mode: initial;;
      writing-mode: initial;;
      font-size: 1rem;
      margin-right: 0;
      text-align: left;
      span {
        margin-left: 0;
        display: inline-block;
      }
    }
    &-text-02 {
      font-size: 1.2rem;
    }
    &-text-03 {
      text-align: right;
      display: block !important;
      margin-top: 3rem;
    }
    &-inner-02 {
      text-align: center;
    }
  }
  .m-title-01 {
    margin-bottom: 4rem;
    &-img {
      max-width: 100%;
    }
  }
  .m-title-02 {
    margin-bottom: 2rem;
    &-img {
      max-width: 60%;
      box-sizing: border-box;
    }
  }
  .m-title-03 {
    width: 200px;
  }
  .m-list-02 {
    display: block;
    padding: 0;
    text-align: center;
  }
  .m-box-03 {
    margin: 0 auto 2rem;
  }
  .m-footer-01 {
    &-inner {
      padding: 1rem 0;
      font-size: .7rem;
    }
    &-text-01 {
      span {
        display: inline-block;
      }
    }
    &-text-02 {
      font-size: .6rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .m-block-01 {
    padding: 3rem 0;
    &-inner {
      height: auto;
    }
    &-text {
      -webkit-writing-mode: initial;;
      -ms-writing-mode: initial;;
      writing-mode: initial;;
      position: static;
      font-size: 1rem;
      span {
        margin-left: 0;
        display: block;
        &.is-sp {
          margin-top: 1rem;
        }
      }
    }
    &-box {
      margin-top: 1rem;
      text-align: right;
    }
    &-img {
      position: static;
      width: 200px;
      display: inline-block;
    }
  }
  .m-block-06 {
    &-inner-03 {
      display: block;
      margin-bottom: 6rem;
    }
    &-text-04 {
      margin-bottom: 2rem;
    }
  }
  .m-list-01 {
    &-item {
      width: 50%;
    }
  }
  .m-list-03 {
    flex-wrap: wrap;
    &-item {
      width: 50%;
    }
  }
  .m-box-03 {
    width: 100%;
    padding: 1rem 1rem 2rem;
  }
  .m-button-01 {
    display: block;
    text-align: center;
    padding: 2rem 0;
    &-link {
      margin-right: 0;
      margin-bottom: 2rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .m-button-02 {
    padding-bottom: 2rem;
    &-inner {
      padding-top: 2rem;
    }
  }
  .m-contact-01 {
    margin-bottom: 6rem;
  }
}
@media screen and (max-width: 479px) {
  .is-pc-slider {
    display: none;
  }
  .is-sp-slider {
    display: block;
  }
  .m-header-01 {
    &-logo {
      width: 110px;
    }
  }
  .m-nav-03 {
    &-link {
      font-size: 1rem;
    }
  }
  .m-block-02 {
    &-logo-01 {
      width: 110px;
    }
    &-logo-02 {
      width: 160px;
      margin-left: -112px;
    }
  }
  .m-block-04 {
    &-table {
      td {
        display: block;
      }
    }
  }
  .m-box-01 {
    margin-bottom: 2rem;
  }
  .m-box-02 {
    flex-wrap: wrap;
    &-icon {
      width: 20px;
    }
    &-text-01 {
      padding-left: 10px;
    }
    &-text-02 {
      padding-top: .5rem;
      padding-left: 0;
      width: 100%;
      text-align: center;
      line-height: 1;
    }
  }
  .m-title-03 {
    &-text-02 {
      font-size: 1.4rem;
    }
  }
}
