footer.m-footer-01
    .m-contents-inner-01
        .m-footer-01-inner
            .m-footer-01-box
                p.m-footer-01-text-01
                    | アンバース株式会社
                    br
                    | 所在地
                    br
                    | 〒151-0073 東京都渋谷区笹塚1-58-6マルシンビル 704
                    br
                    | TEL：03-6300-5831
                p.m-footer-01-text-02 &copy; Ambers Co., Ltd.
            img.m-footer-01-logo(src="./img/logo/04.svg", width="100", alt="AMBERS")
