.test
    .test2
header.m-header-01
    .m-contents-inner-01
        img.m-header-01-logo(src="./img/logo/01.svg", width="150", alt="AMBERS")
        nav.m-nav-01.is-pc
            ul.m-nav-01-list
                li.m-nav-01-item
                    a.m-nav-01-link(href="#nav01") AMBER NOTES
                li.m-nav-01-item
                    a.m-nav-01-link(href="#nav02") AMBER NOTES PICO
                li.m-nav-01-item
                    a.m-nav-01-link(href="#nav03") Access
                li.m-nav-01-item
                    a.m-nav-01-link(href="#nav04") Work
                li.m-nav-01-item
                    a.m-nav-01-link(href="#nav05") Company
                li.m-nav-01-item
                    a.m-nav-01-link(href="#nav06") Contact
    .m-nav-02.is-sp.fn-open-drawer
        .m-nav-02-icon
            .m-nav-02-border
            .m-nav-02-border
            .m-nav-02-border
