header.m-header-01
    img.m-header-01-logo(src="./img/logo/01.svg", width="200", alt="AMBERS")
    nav.m-nav-01
        ul.m-nav-01-list
            li.m-nav-01-item
                a.m-nav-01-link(href="#") AMBER NOTES
            li.m-nav-01-item
                a.m-nav-01-link(href="#") AMBER NOTES PICO
            li.m-nav-01-item
                a.m-nav-01-link(href="#") AMBER NOTES
            li.m-nav-01-item
                a.m-nav-01-link(href="#") Access
            li.m-nav-01-item
                a.m-nav-01-link(href="#") Work
            li.m-nav-01-item
                a.m-nav-01-link(href="#") Company
