main
    .m-visual-01
        img(src="./img/visual/01.jpg", alt="キービジュアル")
    .m-block-01
        p.m-block-01-text
            | 各種音声収録、編集、レコーディング、
            br
            | Mix、マスタリングなどの
            br
            | サービスを提供する
            br
            | 総合音声・音楽制作スタジオです。
            br
            br
            | 常に最新・最高の機器を揃えた
            br
            | スタジオではありません。
            br
            | エンジニアスタッフの長年の経験から
            br
            | 不具合の解消をすませた、
            br
            | いわゆる枯れたツールで
            br
            | ご要望以上の仕上がりを
            br
            | ご提供いたします。
        img.m-block-01-img(src="./img/sign.png", alt="")
    .m-block-02
    .m-block-03
        h2.m-block-03-title
            img.m-block-03-img(src="./img/title/01.png", alt="AMBER NOTES")
        img.m-block-03-logo(src="./img/logo/02.svg", width="160", alt="AMBER NOTES")
        p.m-block-03-text-01 こだわりの音と、居心地の良い空間。
        ul.m-block-03-list
            li.m-block-03-item
                a.m-block-03-link
                    img.m-block-03-thum(src="./img/thum/01.jpg", alt="")
            li.m-block-03-item
                a.m-block-03-link
                    img.m-block-03-thum(src="./img/thum/02.jpg", alt="")
            li.m-block-03-item
                a.m-block-03-link
                    img.m-block-03-thum(src="./img/thum/03.jpg", alt="")
            li.m-block-03-item
                a.m-block-03-link
                    img.m-block-03-thum(src="./img/thum/04.jpg", alt="")
            li.m-block-03-item
                a.m-block-03-link
                    img.m-block-03-thum(src="./img/thum/05.jpg", alt="")
            li.m-block-03-item
                a.m-block-03-link
                    img.m-block-03-thum(src="./img/thum/06.jpg", alt="")
        p.m-block-03-text-01
            | 新しくスタジオをデザインいたしました！
            br
            | 防音・空調・ノイズ対策をしっかり施し、照明も含めた快適な空間で作業に集中していただけます。
            br
            | 各種音声収録、編集、レコーディング、Mix、マスタリングなどでご利用可能です。
