main
    .m-block-01.m-contents-inner-01
        .m-block-01-inner
            p.m-block-01-text
                span 各種音声収録、編集、レコーディング、
                span Mix、マスタリングなどの
                span サービスを提供する
                span 総合音声・音楽制作スタジオです。
                br
                span 常に最新・最高の機器を揃えた
                span スタジオではありません。
                span エンジニアスタッフの長年の経験から
                span 不具合の解消をすませた、
                span いわゆる枯れたツールで
                span ご要望以上の仕上がりを
                span ご提供いたします。
            img.m-block-01-img(src="./img/sign/01.png", alt="")
    .m-bg-01.m-bg-01-img-01
    .m-block-02#nav01
        .m-contents-inner-01
            h2.m-block-02-title
                img.m-block-02-img(src="./img/title/01.png", alt="AMBER NOTES/アンバー ノーツ")
            img.m-block-02-logo(src="./img/logo/02.svg", width="160", alt="AMBER NOTES")
            p.m-block-02-text-01 こだわりの音と、居心地の良い空間。
        ul.m-list-01
            li.m-list-01-item
                a.m-list-01-link.fn-fancybox(href="img/large/01/01.jpg", data-fancybox="gallery01")
                    img.m-list-01-thum(src="./img/thum/01/01.jpg", alt="")
            li.m-list-01-item
                a.m-list-01-link.fn-fancybox(href="img/large/01/02.jpg", data-fancybox="gallery01")
                    img.m-list-01-thum(src="./img/thum/01/02.jpg", alt="")
            li.m-list-01-item
                a.m-list-01-link.fn-fancybox(href="img/large/01/03.jpg", data-fancybox="gallery01")
                    img.m-list-01-thum(src="./img/thum/01/03.jpg", alt="")
            li.m-list-01-item
                a.m-list-01-link.fn-fancybox(href="img/large/01/04.jpg", data-fancybox="gallery01")
                    img.m-list-01-thum(src="./img/thum/01/04.jpg", alt="")
            li.m-list-01-item
                a.m-list-01-link.fn-fancybox(href="img/large/01/05.jpg", data-fancybox="gallery01")
                    img.m-list-01-thum(src="./img/thum/01/05.jpg", alt="")
            li.m-list-01-item
                a.m-list-01-link.fn-fancybox(href="img/large/01/06.jpg", data-fancybox="gallery01")
                    img.m-list-01-thum(src="./img/thum/01/06.jpg", alt="")
        .m-contents-inner-01
            p.m-block-02-text-02
                | 新しくスタジオをデザインいたしました！
                br
                | 防音・空調・ノイズ対策をしっかり施し、照明も含めた快適な空間で作業に集中していただけます。
                br
                | 各種音声収録、編集、レコーディング、Mix、マスタリングなどでご利用可能です。
    .m-block-03
        .m-block-03-inner
            .m-contents-inner-01
                h2.m-block-03-title
                    img.m-block-03-img(src="./img/title/02.png", alt="amenitier")
                ul.m-list-02
                    li.m-list-02-item
                        img.m-list-02-img(src="./img/photo/01/01.jpg", alt="こゆったりとしたコントロール･ルーム。")
                        p.m-list-02-text
                            | こゆったりとした
                            br
                            | コントロール･ルーム。
                    li.m-list-02-item
                        img.m-list-02-img(src="./img/photo/01/02.jpg", alt="ロビーも自由にお使いいただけます。")
                        p.m-list-02-text
                            | ロビーも自由に
                            br
                            | お使いいただけます。
                    li.m-list-02-item
                        img.m-list-02-img(src="./img/photo/01/03.jpg", alt="")
                        p.m-list-02-text
                            | 優れたエンジニアが
                            br
                            | お待ちしております。
        .m-button-01
            a.m-button-01-link(href="#")
                img.m-button-01-img(src="./img/button/01.png", alt="機材リスト")
    .m-bg-01.m-bg-01-img-02
    .m-block-02#nav02
        .m-contents-inner-01
            h2.m-block-02-title
                img.m-block-02-img(src="./img/title/03.png", alt="AMBER NOTES PICO/アンバー ノーツ ピコ")
            img.m-block-02-logo.is-center(src="./img/logo/03.svg", width="160", alt="AMBER NOTES PICO")
            p.m-block-02-text-01 スタンダートな環境と、開放感のある景色。
        ul.m-list-01
            li.m-list-01-item
                a.m-list-01-link.fn-fancybox(href="img/large/02/01.jpg", data-fancybox="gallery02")
                    img.m-list-01-thum(src="./img/thum/02/01.jpg", alt="")
            li.m-list-01-item
                a.m-list-01-link.fn-fancybox(href="img/large/02/02.jpg", data-fancybox="gallery02")
                    img.m-list-01-thum(src="./img/thum/02/02.jpg", alt="")
            li.m-list-01-item
                a.m-list-01-link.fn-fancybox(href="img/large/02/03.jpg", data-fancybox="gallery02")
                    img.m-list-01-thum(src="./img/thum/02/03.jpg", alt="")
            li.m-list-01-item
                a.m-list-01-link.fn-fancybox(href="img/large/02/04.jpg", data-fancybox="gallery02")
                    img.m-list-01-thum(src="./img/thum/02/04.jpg", alt="")
            li.m-list-01-item
                a.m-list-01-link.fn-fancybox(href="img/large/02/05.jpg", data-fancybox="gallery02")
                    img.m-list-01-thum(src="./img/thum/02/05.jpg", alt="")
            li.m-list-01-item
                a.m-list-01-link.fn-fancybox(href="img/large/02/06.jpg", data-fancybox="gallery02")
                    img.m-list-01-thum(src="./img/thum/02/06.jpg", alt="")
        p.m-block-02-text-03
            | 商用スタジオとして各種音声収録、編集、レコーディング、Mix、マスタリングなどでご利用可能です。
        .m-box-01
            .m-box-01-inner
                .m-button-01
                    a.m-button-01-link(href="#")
                        img.m-button-01-img(src="./img/button/01.png", alt="機材リスト")
        .m-box-02
            img.m-box-02-icon(src="./img/icon/01.png", alt="スタジオ予約専用  03-6300-5832")
            p.m-box-02-text スタジオ予約専用
                span 03-6300-5832
    .m-bg-01.m-bg-01-img-03
    .m-block-04#nav03
        h2.m-block-04-title
            img.m-block-04-img(src="./img/title/04.png", alt="Access/アクセス")
        #googleMap
        .m-button-02
            .m-button-02-inner
                a.m-button-02-link(href="#")
                    img.m-button-02-img(src="./img/button/02.png", alt="印刷用")
        .m-contents-inner-01
            .m-block-04-box
                .m-block-04-inner-01
                    p.m-block-04-text-01 〒151-0072 東京都渋谷区幡ヶ谷1-8-4 リッツパラシオ
                    table.m-block-04-table
                        tr
                            td 4F 401  AMBER NOTES
                            td TEL:03-6300-5633
                        tr
                            td 6F  601  AMBER NOTES PICO
                            td TEL:090-2463-4213
                .m-block-04-inner-02
                    img.m-block-04-icon(src="./img/icon/02.png", alt="スタジオ予約専用  03-6300-5832")
                    p.m-block-04-text-02
                        span.m-block-04-text-03 スタジオ予約専用
                        span.m-block-04-text-04 03-6300-5832
    .m-block-05#nav04
        h2.m-block-05-title
            img.m-block-05-img(src="./img/title/05.png", alt="Work/事業")
        .m-contents-inner-01
            .m-block-05-inner
                .m-box-03
                    .m-title-01
                        p.m-title-01-text-01 Management Work
                        h3.m-title-01-text-02 マネージメント
                    p.m-box-03-text アーティストのマネジメントから派生するアーティスト派遣、ホームコンサートなどの多彩なイベント企画制作と運営を行っております。
                .m-box-03
                    .m-title-01
                        p.m-title-01-text-01 Web Work
                        h3.m-title-01-text-02 WEB
                    p.m-box-03-text WEBデザインの美しさと多彩な表現方法を得意とし、お客様のご要望・特長を活かした高いクオリティをご提案いたします。
    .m-block-07
        h2.m-block-07-title
            img.m-block-07-img(src="./img/title/06.png", alt="Company/企業")
        .m-box-02
            .m-title-01
                p.m-title-01-text-01 Corporate philosophy
                h3.m-title-01-text-02 理　念
        p.m-block-07-text-01
            | 「小さな場所で大きくお役に立とう」
            br
            | 小さな居場所で大きく楽しもう」
            br
            | スタジオも事務所も大きな夢を描きながら、
            br
            | 小さなところからスタートいたしました。
            br
            | お客様の要望以上がご提案できるように、
            br
            | 創意工夫を胸に頑張ります。
            br
            | スタッフ一同
        .m-box-02
            .m-title-01
                p.m-title-01-text-01 Company overview
                h3.m-title-01-text-02 概　要
        .m-block-07-inner
            p.m-block-07-text-02
                | アンバース株式会社
                br
                br
                | 所在地
                br
                | 〒151-0073
                br
                | 東京都渋谷区笹塚1-58-6
                br
                | マルシンビル 704
                br
                br
                | 電話
                br
                | 03-6300-5831
                br
                | 資本金
                br
                | 10,000,000円
            p.m-block-07-text-03
                | 代表取締役社長
                br
                | 畑 亜貴
                br
                br
                | STAFF
                br
                | 社員：5名
                br
                | 赤坂守
                br
                | 大内綾夏
                br
                | 尾立昌典
                br
                | 田斎政博
                br
                | 法橋郁海
                br
                br
                | 嘱託：13名
        .m-box-02
            .m-title-01
                p.m-title-01-text-01 Contact
                h3.m-title-01-text-02 お問い合わせ
        .m-contact-01
            p.m-contact-01-text お名前 *
            input.m-contact-01-input(type="text")
            p.m-contact-01-text メールアドレス *
            input.m-contact-01-input(type="text")
            p.m-contact-01-text 電話番号 *
            input.m-contact-01-input(type="text")
            p.m-contact-01-text 会社名
            input.m-contact-01-input(type="text")
            p.m-contact-01-text 件名
            input.m-contact-01-input(type="text")
            p.m-contact-01-text お問い合わせ内容
            textarea.m-contact-01-textarea
            input.m-contact-01-button(type="submit", value="SEND COMMENT")
