main
    .m-block-01
        .m-contents-inner-01
            .m-block-01-inner
                p.m-block-01-text
                    span 音声・楽器収録、編集、ミックス、
                    span マスタリングなどのサービスを提供する
                    span レコーディングスタジオです。
                    span フラットな音と快適な作業空間の
                    span 提供を心がけております。
                    br
                    span.is-sp スタジオの見学、ご質問など
                    span お気軽にお問い合わせ下さい。
                .m-block-01-box
                    img.m-block-01-img(src="./img/sign/01.png", alt="")
    .m-bg-01.m-bg-01-img-01
    .m-block-02#nav01
        .fn-animation-block
            .m-contents-inner-01
                h2.m-title-01.fn-animation
                    img.m-title-01-img(src="./img/title/01.png", alt="AMBER NOTES/アンバー ノーツ")
                img.m-block-02-logo-01.fn-animation(src="./img/logo/02.svg", width="160", alt="AMBER NOTES")
                p.m-block-02-text-01.fn-animation
                    span.m-block-02-text-01-title 居心地のよい空間
        .fn-animation-block
            ul.m-list-01
                li.m-list-01-item.fn-animation
                    a.m-list-01-link.fn-fancybox(href="img/large/01/01.jpg", data-fancybox="gallery01")
                        img.m-list-01-thum(src="./img/thum/01/01.jpg", alt="")
                li.m-list-01-item.fn-animation
                    a.m-list-01-link.fn-fancybox(href="img/large/01/02.jpg", data-fancybox="gallery01")
                        img.m-list-01-thum(src="./img/thum/01/02.jpg", alt="")
                li.m-list-01-item.fn-animation
                    a.m-list-01-link.fn-fancybox(href="img/large/01/03.jpg", data-fancybox="gallery01")
                        img.m-list-01-thum(src="./img/thum/01/03.jpg", alt="")
                li.m-list-01-item.fn-animation
                    a.m-list-01-link.fn-fancybox(href="img/large/01/04.jpg", data-fancybox="gallery01")
                        img.m-list-01-thum(src="./img/thum/01/04.jpg", alt="")
                li.m-list-01-item.fn-animation
                    a.m-list-01-link.fn-fancybox(href="img/large/01/05.jpg", data-fancybox="gallery01")
                        img.m-list-01-thum(src="./img/thum/01/05.jpg", alt="")
                li.m-list-01-item.fn-animation
                    a.m-list-01-link.fn-fancybox(href="img/large/01/06.jpg", data-fancybox="gallery01")
                        img.m-list-01-thum(src="./img/thum/01/06.jpg", alt="")
            .m-contents-inner-01
                p.m-block-02-text-02.fn-animation
                    | 新しいスタジオをデザインいたしました！
                    br
                    | 防音・空調・ノイズ対策をしっかり施し、照明も含めた快適な空間で作業に集中していただけます。
    .m-block-03.fn-animation-block
        .m-block-03-inner
        .m-button-01
            a.m-button-01-link.fn-animation(href="./pdf/401_kizai_v4.pdf", target="_blank")
                img.m-button-01-img(src="./img/button/01_off.png", alt="機材リスト")
            a.m-button-01-link.fn-animation(href="./pdf/401_heimenzu_only.pdf", target="_blank")
                img.m-button-01-img(src="./img/button/03_off.png", alt="平面図")
    .m-bg-01.m-bg-01-img-02
    .m-block-02#nav02
        .fn-animation-block
            .m-contents-inner-01
                h2.m-title-01.fn-animation
                    img.m-title-01-img(src="./img/title/03.png", alt="AMBER NOTES PICO/アンバー ノーツ ピコ")
                img.m-block-02-logo-02.fn-animation(src="./img/logo/03.svg", width="250", alt="AMBER NOTES PICO")
                p.m-block-02-text-01.fn-animation
                    span.m-block-02-text-01-title アットホームな空間
        .fn-animation-block
            ul.m-list-03
                li.m-list-03-item.fn-animation
                    a.m-list-03-link.fn-fancybox(href="img/large/02/01.jpg", data-fancybox="gallery02")
                        img.m-list-03-thum(src="./img/thum/02/01.jpg", alt="")
                li.m-list-03-item.fn-animation
                    a.m-list-03-link.fn-fancybox(href="img/large/02/02.jpg", data-fancybox="gallery02")
                        img.m-list-03-thum(src="./img/thum/02/02.jpg", alt="")
                li.m-list-03-item.fn-animation
                    a.m-list-03-link.fn-fancybox(href="img/large/02/03.jpg", data-fancybox="gallery02")
                        img.m-list-03-thum(src="./img/thum/02/03.jpg", alt="")
                li.m-list-03-item.fn-animation
                    a.m-list-03-link.fn-fancybox(href="img/large/02/04.jpg", data-fancybox="gallery02")
                        img.m-list-03-thum(src="./img/thum/02/04.jpg", alt="")
            .m-contents-inner-01
                p.m-block-02-text-03.fn-animation 音声・楽器収録、編集などのサービスを提供するレコーディングスタジオです。
        .fn-animation-block
            .m-box-01
                .m-box-01-inner
                    .m-button-01
                        a.m-button-01-link.fn-animation(href="./pdf/601_kizai_v5.pdf", target="_blank")
                            img.m-button-01-img(src="./img/button/01_off.png", alt="機材リスト")
                        a.m-button-01-link.fn-animation(href="./pdf/601_heimenzu_only.pdf", target="_blank")
                            img.m-button-01-img(src="./img/button/03_off.png", alt="平面図")
            .m-box-02.fn-animation
                img.m-box-02-icon(src="./img/icon/01.png", alt="スタジオ予約専用  03-6300-5832")
                p.m-box-02-text-01 スタジオ予約専用
                p.m-box-02-text-02 03-6300-5832
    .m-bg-01.m-bg-01-img-03
    .m-block-04#nav03
        .fn-animation-block
            h2.m-title-02.fn-animation
                img.m-title-02-img(src="./img/title/04.png", alt="Access/アクセス")
            #googleMap.fn-animation
            .m-button-02
                .m-button-02-inner
                    a.m-button-02-link.fn-animation(href="./pdf/ambs_map.pdf", target="_blank")
                        img.m-button-02-img(src="./img/button/02_off.png", alt="印刷用")
            .m-contents-inner-01
                .m-block-04-box
                    .m-block-04-inner-01
                        p.m-block-04-text-01.fn-animation 〒151-0072 東京都渋谷区幡ヶ谷1-8-4 リッツパラシオ
                        table.m-block-04-table
                            tr
                                td.fn-animation 4F 401  AMBER NOTES
                                td.fn-animation TEL:03-6300-5633
                            tr
                                td.fn-animation 6F  601  AMBER NOTES PICO
                                td.fn-animation TEL:090-2463-4213
                    .m-block-04-inner-02.fn-animation
                        img.m-block-04-icon(src="./img/icon/02.png", alt="スタジオ予約専用  03-6300-5832")
                        p.m-block-04-text-02
                            span.m-block-04-text-03 スタジオ予約専用
                            span.m-block-04-text-04 03-6300-5832
    .m-block-05#nav04.fn-animation-block
        h2.m-title-02.fn-animation
            img.m-title-02-img(src="./img/title/05.png", alt="Work/事業")
        .m-contents-inner-01
            .m-block-05-inner
                .m-box-03.fn-animation
                    .m-title-03
                        p.m-title-03-text-01 Management Work
                        h3.m-title-03-text-02 マネージメント
                    p.m-box-03-text アーティストのマネジメントから派生するアーティスト派遣、ホームコンサートなどの多彩なイベント企画制作と運営を行っております。
                .m-box-03.fn-animation
                    .m-title-03
                        p.m-title-03-text-01 Web Work
                        h3.m-title-03-text-02 WEB
                    p.m-box-03-text WEBデザインの美しさと多彩な表現方法を得意とし、お客様のご要望・特長を活かした高いクオリティをご提案いたします。
    .m-block-06#nav05
        .fn-animation-block
            h2.m-title-02.fn-animation
                img.m-title-02-img(src="./img/title/06.png", alt="Company/企業")
            .m-contents-inner-01
                .m-block-06-inner-01
                    .m-box-04.fn-animation
                        .m-title-03
                            p.m-title-03-text-01 Corporate philosophy
                            h3.m-title-03-text-02 理　念
                    p.m-block-06-text-01
                        span.m-block-06-text-02.fn-animation 「小さな場所で大きくお役に立とう」
                        span.m-block-06-text-02.fn-animation 「小さな居場所で大きく楽しもう」
                        span.fn-animation スタジオも事務所も大きな夢を描きながら、
                        span.fn-animation 小さなところからスタートいたしました。
                        span.fn-animation お客様のご要望以上をご提案できるように、
                        span.fn-animation 創意工夫を胸に頑張ります。
                        br
                        span.m-block-06-text-03.fn-animation スタッフ一同
        .fn-animation-block
            .m-contents-inner-01
                .m-block-06-inner-02
                    .m-box-04.fn-animation
                        .m-title-03
                            p.m-title-03-text-01 Company overview
                            h3.m-title-03-text-02 概　要
                    .m-block-06-inner-03
                        p.m-block-06-text-04
                            span.fn-animation アンバース株式会社
                            br
                            br
                            span.fn-animation 所在地
                            br
                            span.fn-animation 〒151-0073
                            br
                            span.fn-animation 東京都渋谷区笹塚1-58-6
                            br
                            span.fn-animation マルシンビル 704
                            br
                            br
                            span.fn-animation 電話
                            br
                            span.fn-animation 03-6300-5831
                            br
                            br
                            span.fn-animation 資本金
                            br
                            span.fn-animation 10,000,000円
                        p.m-block-06-text-05
                            span.fn-animation 代表取締役社長
                            br
                            span.fn-animation 畑 亜貴
                            br
                            br
                            span.fn-animation STAFF
                            br
                            span.fn-animation 社員：5名
                            br
                            span.fn-animation 赤坂守
                            br
                            span.fn-animation 大内綾夏
                            br
                            span.fn-animation 尾立昌典
                            br
                            span.fn-animation 田斎政博
                            br
                            span.fn-animation 法橋郁海
                            br
                            br
                            span.fn-animation 嘱託：13名
    .m-block-07#nav06.fn-animation-block
        h2.m-title-02.fn-animation
            img.m-title-02-img(src="./img/title/07.png", alt="Contact/お問い合わせ")
        .m-contents-inner-01
            .m-contact-01
                p.m-contact-01-text.fn-animation お名前 *
                input.m-contact-01-input.fn-animation(type="text")
                p.m-contact-01-text.fn-animation メールアドレス *
                input.m-contact-01-input.fn-animation(type="text")
                p.m-contact-01-text.fn-animation 電話番号 *
                input.m-contact-01-input.fn-animation(type="tel")
                p.m-contact-01-text.fn-animation 会社名
                input.m-contact-01-input.fn-animation(type="text")
                p.m-contact-01-text.fn-animation 件名 *
                input.m-contact-01-input.fn-animation(type="text")
                p.m-contact-01-text.fn-animation お問い合わせ内容 *
                textarea.m-contact-01-textarea.fn-animation(rows="8")
                input.m-contact-01-button.fn-animation(type="submit", value="SEND COMMENT")
.m-pagetop-01
    a.m-pagetop-01-icon(href="#wrapper")
