main
    .m-visual-01
        img(src="./img/visual/01.jpg", alt="キービジュアル")
    .m-block-01
        p.m-block-01-text
            | 各種音声収録、編集、レコーディング、
            br
            | Mix、マスタリングなどの
            br
            | サービスを提供する
            br
            | 総合音声・音楽制作スタジオです。
            br
            br
            | 常に最新・最高の機器を揃えた
            br
            | スタジオではありません。
            br
            | エンジニアスタッフの長年の経験から
            br
            | 不具合の解消をすませた、
            br
            | いわゆる枯れたツールで
            br
            | ご要望以上の仕上がりを
            br
            | ご提供いたします。
        img.m-block-01-img(src="./img/sign/01.png", alt="")
    .m-bg-01
    .m-block-02
        h2.m-block-02-title
            img.m-block-02-img(src="./img/title/01.png", alt="AMBER NOTES")
        img.m-block-02-logo(src="./img/logo/02.svg", width="160", alt="AMBER NOTES")
        p.m-block-02-text-01 こだわりの音と、居心地の良い空間。
        ul.m-list-01
            li.m-list-01-item
                a.m-list-01-link
                    img.m-list-01-thum(src="./img/thum/01/01.jpg", alt="")
            li.m-list-01-item
                a.m-list-01-link
                    img.m-list-01-thum(src="./img/thum/01/02.jpg", alt="")
            li.m-list-01-item
                a.m-list-01-link
                    img.m-list-01-thum(src="./img/thum/01/03.jpg", alt="")
            li.m-list-01-item
                a.m-list-01-link
                    img.m-list-01-thum(src="./img/thum/01/04.jpg", alt="")
            li.m-list-01-item
                a.m-list-01-link
                    img.m-list-01-thum(src="./img/thum/01/05.jpg", alt="")
            li.m-list-01-item
                a.m-list-01-link
                    img.m-list-01-thum(src="./img/thum/01/06.jpg", alt="")
        p.m-block-02-text-01
            | 新しくスタジオをデザインいたしました！
            br
            | 防音・空調・ノイズ対策をしっかり施し、照明も含めた快適な空間で作業に集中していただけます。
            br
            | 各種音声収録、編集、レコーディング、Mix、マスタリングなどでご利用可能です。
    .m-block-03
        h2.m-block-03-title
            img.m-block-03-img(src="./img/title/02.png", alt="amenitier")
        ul.m-list-02
            li.m-list-02-item
                img.m-list-02-img(src="./img/photo/01/01.jpg", alt="こゆったりとしたコントロール･ルーム。")
                p.m-list-02-text
                    | こゆったりとした
                    br
                    | コントロール･ルーム。
            li.m-list-02-item
                img.m-list-02-img(src="./img/photo/01/02.jpg", alt="ロビーも自由にお使いいただけます。")
                p.m-list-02-text
                    | ロビーも自由に
                    br
                    | お使いいただけます。
            li.m-list-02-item
                img.m-list-02-img(src="./img/photo/01/03.jpg", alt="")
                p.m-list-02-text
                    | 優れたエンジニアが
                    br
                    | お待ちしております。
        .m-button-01
            a.m-button-01-link(href="#")
                img.m-button-01-img(src="./img/button/01.png", alt="機材リスト")
    .m-bg-02
    .m-block-04
        h2.m-block-04-title
            img.m-block-04-img(src="./img/title/01.png", alt="AMBER NOTES")
        img.m-block-04-logo(src="./img/logo/02.svg", width="160", alt="AMBER NOTES")
        p.m-block-04-text-01 こだわりの音と、居心地の良い空間。
        ul.m-list-01
            li.m-list-01-item
                a.m-list-01-link
                    img.m-list-01-thum(src="./img/thum/02/01.jpg", alt="")
            li.m-list-01-item
                a.m-list-01-link
                    img.m-list-01-thum(src="./img/thum/02/02.jpg", alt="")
            li.m-list-01-item
                a.m-list-01-link
                    img.m-list-01-thum(src="./img/thum/02/03.jpg", alt="")
            li.m-list-01-item
                a.m-list-01-link
                    img.m-list-01-thum(src="./img/thum/02/04.jpg", alt="")
            li.m-list-01-item
                a.m-list-01-link
                    img.m-list-01-thum(src="./img/thum/02/05.jpg", alt="")
            li.m-list-01-item
                a.m-list-01-link
                    img.m-list-01-thum(src="./img/thum/02/06.jpg", alt="")
        p.m-block-04-text-01
            | 新しくスタジオをデザインいたしました！
            br
            | 防音・空調・ノイズ対策をしっかり施し、照明も含めた快適な空間で作業に集中していただけます。
            br
            | 各種音声収録、編集、レコーディング、Mix、マスタリングなどでご利用可能です。
        .m-button-01
            a.m-button-01-link(href="#")
                img.m-button-01-img(src="./img/button/01.png", alt="機材リスト")
