main
    .m-visual-01
        img(src="./img/visual/01.jpg", alt="キービジュアル")
    .m-block-01
        p.m-block-01-text
            | 各種音声収録、編集、レコーディング、
            br
            | Mix、マスタリングなどの
            br
            | サービスを提供する
            br
            | 総合音声・音楽制作スタジオです。
            br
            br
            | 常に最新・最高の機器を揃えた
            br
            | スタジオではありません。
            br
            | エンジニアスタッフの長年の経験から
            br
            | 不具合の解消をすませた、
            br
            | いわゆる枯れたツールで
            br
            | ご要望以上の仕上がりを
            br
            | ご提供いたします。
