meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="音声・楽器収録、編集、ミックス、マスタリングなどのサービスを提供するレコーディングスタジオです。フラットな音と快適な作業空間の提供を心がけております。")
meta(name="keywords", content="アンバース,レコーディングスタジオ,笹塚")
meta(name="format-detection", content="telephone=no")
meta(property="og:site_name", content="アンバース株式会社")
meta(property="og:title", content="アンバース株式会社")
meta(property="og:description", content="音声・楽器収録、編集、ミックス、マスタリングなどのサービスを提供するレコーディングスタジオです。フラットな音と快適な作業空間の提供を心がけております。")
meta(property="og:url", content="https://ambers.co.jp")
meta(property="og:type", content="website")
meta(property="og:image", content="./img/logo/facebook.jpg")
link(rel="shortcut icon", href="./img/favicon/favicon.ico", type="image/x-icon")
link(rel="apple-touch-icon", href="./img/favicon/apple-touch-icon.png", sizes="180x180")
link(rel="icon", type="image/png", href="./img/favicon/android-touch-icon.png", sizes="192x192")

