.m-opening-01
    .fn-opening-animation-01
        .m-opening-01-inner-01.fn-opening-logo
            img.m-opening01-logo(src="./img/logo/02.svg", width="180", alt="AMBERS")
        .m-opening-01-img-01.fn-opening-img-01
        .m-opening-01-img-02.fn-opening-img-02
        .m-opening-01-inner-02.fn-opening-loader
            .m-loader-01
