.m-drawer-01.is-hide.fn-drawer
    div.m-drawer-01-cancel.fn-close-drawer
        p.m-drawer-01-icon
            span.m-drawer-01-text
    nav.m-nav-03
        ul.m-nav-03-list
            li.m-nav-03-item
                a.m-nav-03-link.fn-close-drawer(href="#nav01") AMBER NOTES
            li.m-nav-03-item
                a.m-nav-03-link.fn-close-drawer(href="#nav02") AMBER NOTES PICO
            li.m-nav-03-item
                a.m-nav-03-link.fn-close-drawer(href="#nav03") Access
            li.m-nav-03-item
                a.m-nav-03-link.fn-close-drawer(href="#nav04") Work
            li.m-nav-03-item
                a.m-nav-03-link.fn-close-drawer(href="#nav05") Company
            li.m-nav-03-item
                a.m-nav-03-link.fn-close-drawer(href="#nav06") Contact
