.m-visual-01
    ul.m-visual-01-list.fn-slider.is-pc-slider
        li.m-visual-01-item
            img.m-visual-01-img(src="./img/visual/01.jpg", alt="キービジュアル")
        li.m-visual-01-item
            img.m-visual-01-img(src="./img/visual/02.jpg", alt="キービジュアル")
        li.m-visual-01-item
            img.m-visual-01-img(src="./img/visual/03.jpg", alt="キービジュアル")
        li.m-visual-01-item
            img.m-visual-01-img(src="./img/visual/04.jpg", alt="キービジュアル")
        li.m-visual-01-item
            img.m-visual-01-img(src="./img/visual/05.jpg", alt="キービジュアル")
    ul.m-visual-01-list.fn-slider.is-sp-slider
        li.m-visual-01-item
            img.m-visual-01-img(src="./img/visual/sp/01.jpg", alt="キービジュアル")
        li.m-visual-01-item
            img.m-visual-01-img(src="./img/visual/sp/02.jpg", alt="キービジュアル")
        li.m-visual-01-item
            img.m-visual-01-img(src="./img/visual/sp/03.jpg", alt="キービジュアル")
        li.m-visual-01-item
            img.m-visual-01-img(src="./img/visual/sp/04.jpg", alt="キービジュアル")
        li.m-visual-01-item
            img.m-visual-01-img(src="./img/visual/sp/05.jpg", alt="キービジュアル")
