doctype
html(lang="ja")
    head
        include _include/meta
        title タイトル
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho")
        link(rel="stylesheet", type="text/css", href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css")
        link(rel="stylesheet", href="css/style.css")
    body
        include _include/header
        .l-main-01
            include _include/visual
            include _include/main
            include _include/footer
        script(src="js/app.js", type="text/javascript")

