doctype
html(lang="ja")
    head
        include _include/meta
        title タイトル
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho")
        link(rel="stylesheet", href="css/style.css")
    body
        include _include/header
        include _include/main
        include _include/footer
        script(src="js/app.js", type="text/javascript")
